{:index 0, :time 6319509, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 1, :time 11871539, :type :fail, :process 0, :f :dequeue, :value nil, :error :empty}
{:index 2, :time 184158320, :type :invoke, :process 1, :f :enqueue, :value 2357}
{:index 3, :time 185719648, :type :ok, :process 1, :f :enqueue, :value 2357, :offset 0}
{:index 4, :time 358517332, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 5, :time 359644736, :type :ok, :process 2, :f :dequeue, :value "2357"}
{:index 6, :time 389907070, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 7, :time 390680669, :type :ok, :process 3, :f :dequeue, :value "2357"}
{:index 8, :time 539230522, :type :invoke, :process 4, :f :enqueue, :value 252}
{:index 9, :time 540282577, :type :ok, :process 4, :f :enqueue, :value 252, :offset 1}
{:index 10, :time 574899179, :type :invoke, :process 0, :f :enqueue, :value 5464}
{:index 11, :time 575674838, :type :ok, :process 0, :f :enqueue, :value 5464, :offset 2}
{:index 12, :time 601735223, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 13, :time 602146947, :type :ok, :process 0, :f :dequeue, :value "2357"}
{:index 14, :time 710370980, :type :invoke, :process 1, :f :enqueue, :value 8718}
{:index 15, :time 711121879, :type :ok, :process 1, :f :enqueue, :value 8718, :offset 3}
{:index 16, :time 841716750, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 17, :time 842667656, :type :ok, :process 2, :f :dequeue, :value "252"}
{:index 18, :time 913285830, :type :invoke, :process 3, :f :enqueue, :value 1094}
{:index 19, :time 913833452, :type :ok, :process 3, :f :enqueue, :value 1094, :offset 4}
{:index 20, :time 1047865943, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 21, :time 1048746651, :type :ok, :process 4, :f :dequeue, :value "2357"}
{:index 22, :time 1115475771, :type :invoke, :process 0, :f :enqueue, :value 6536}
{:index 23, :time 1116353198, :type :ok, :process 0, :f :enqueue, :value 6536, :offset 5}
{:index 24, :time 1298070804, :type :invoke, :process 0, :f :enqueue, :value 3992}
{:index 25, :time 1298916422, :type :ok, :process 0, :f :enqueue, :value 3992, :offset 6}
{:index 26, :time 1450212685, :type :invoke, :process 1, :f :enqueue, :value 3175}
{:index 27, :time 1451030563, :type :ok, :process 1, :f :enqueue, :value 3175, :offset 7}
{:index 28, :time 1591383994, :type :invoke, :process 2, :f :enqueue, :value 3654}
{:index 29, :time 1592097924, :type :ok, :process 2, :f :enqueue, :value 3654, :offset 8}
{:index 30, :time 1722363929, :type :invoke, :process 3, :f :enqueue, :value 1794}
{:index 31, :time 1722967761, :type :ok, :process 3, :f :enqueue, :value 1794, :offset 9}
{:index 32, :time 1818297249, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 33, :time 1819117377, :type :ok, :process 4, :f :dequeue, :value "252"}
{:index 34, :time 1932051192, :type :invoke, :process 0, :f :enqueue, :value 8129}
{:index 35, :time 1932788482, :type :ok, :process 0, :f :enqueue, :value 8129, :offset 10}
{:index 36, :time 2091626856, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 37, :time 2092375455, :type :ok, :process 0, :f :dequeue, :value "252"}
{:index 38, :time 2193542919, :type :invoke, :process 1, :f :enqueue, :value 8225}
{:index 39, :time 2194377297, :type :ok, :process 1, :f :enqueue, :value 8225, :offset 11}
{:index 40, :time 2261099197, :type :invoke, :process 2, :f :enqueue, :value 8411}
{:index 41, :time 2261792167, :type :ok, :process 2, :f :enqueue, :value 8411, :offset 12}
{:index 42, :time 2424783752, :type :invoke, :process 3, :f :enqueue, :value 3041}
{:index 43, :time 2425422983, :type :ok, :process 3, :f :enqueue, :value 3041, :offset 13}
{:index 44, :time 2449589076, :type :invoke, :process 4, :f :enqueue, :value 3211}
{:index 45, :time 2450411874, :type :ok, :process 4, :f :enqueue, :value 3211, :offset 14}
{:index 46, :time 2455589789, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 47, :time 2456090232, :type :ok, :process 0, :f :dequeue, :value "5464"}
{:index 48, :time 2500255997, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 49, :time 2500922377, :type :ok, :process 0, :f :dequeue, :value "8718"}
{:index 50, :time 2659272079, :type :invoke, :process 1, :f :enqueue, :value 8045}
{:index 51, :time 2660036748, :type :ok, :process 1, :f :enqueue, :value 8045, :offset 15}
{:index 52, :time 2680431915, :type :invoke, :process 2, :f :enqueue, :value 3122}
{:index 53, :time 2680956817, :type :ok, :process 2, :f :enqueue, :value 3122, :offset 16}
{:index 54, :time 2705859999, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 55, :time 2706509499, :type :ok, :process 3, :f :dequeue, :value "252"}
{:index 56, :time 2765158185, :type :invoke, :process 4, :f :enqueue, :value 2700}
{:index 57, :time 2765855295, :type :ok, :process 4, :f :enqueue, :value 2700, :offset 17}
{:index 58, :time 2837783071, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 59, :time 2838517490, :type :ok, :process 0, :f :dequeue, :value "1094"}
{:index 60, :time 2913195396, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 61, :time 2913889066, :type :ok, :process 0, :f :dequeue, :value "6536"}
{:index 62, :time 3007125134, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 63, :time 3007919893, :type :ok, :process 1, :f :dequeue, :value "2357"}
{:index 64, :time 3091970194, :type :invoke, :process 2, :f :enqueue, :value 8907}
{:index 65, :time 3092776872, :type :ok, :process 2, :f :enqueue, :value 8907, :offset 18}
{:index 66, :time 3134471492, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 67, :time 3135034064, :type :ok, :process 3, :f :dequeue, :value "5464"}
{:index 68, :time 3268807990, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 69, :time 3269665827, :type :ok, :process 4, :f :dequeue, :value "5464"}
{:index 70, :time 3358130045, :type :invoke, :process 0, :f :enqueue, :value 6094}
{:index 71, :time 3358875134, :type :ok, :process 0, :f :enqueue, :value 6094, :offset 19}
{:index 72, :time 3516956550, :type :invoke, :process 0, :f :enqueue, :value 9717}
{:index 73, :time 3517672950, :type :ok, :process 0, :f :enqueue, :value 9717, :offset 20}
{:index 74, :time 3641607957, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 75, :time 3642505124, :type :ok, :process 1, :f :dequeue, :value "252"}
{:index 76, :time 3796338150, :type :invoke, :process 2, :f :enqueue, :value 6139}
{:index 77, :time 3797169298, :type :ok, :process 2, :f :enqueue, :value 6139, :offset 21}
{:index 78, :time 3836134527, :type :invoke, :process 3, :f :enqueue, :value 6622}
{:index 79, :time 3836694769, :type :ok, :process 3, :f :enqueue, :value 6622, :offset 22}
{:index 80, :time 3878814223, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 81, :time 3879596662, :type :ok, :process 4, :f :dequeue, :value "8718"}
{:index 82, :time 3999965420, :type :invoke, :process 0, :f :enqueue, :value 229}
{:index 83, :time 4000631520, :type :ok, :process 0, :f :enqueue, :value 229, :offset 23}
{:index 84, :time 4020551134, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 85, :time 4021061486, :type :ok, :process 0, :f :dequeue, :value "3992"}
{:index 86, :time 4102660473, :type :invoke, :process 1, :f :enqueue, :value 8259}
{:index 87, :time 4103341353, :type :ok, :process 1, :f :enqueue, :value 8259, :offset 24}
{:index 88, :time 4176149085, :type :invoke, :process 2, :f :enqueue, :value 566}
{:index 89, :time 4176750657, :type :ok, :process 2, :f :enqueue, :value 566, :offset 25}
{:index 90, :time 4287390265, :type :invoke, :process 3, :f :enqueue, :value 1624}
{:index 91, :time 4288082715, :type :ok, :process 3, :f :enqueue, :value 1624, :offset 26}
{:index 92, :time 4318549107, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 93, :time 4319316766, :type :ok, :process 4, :f :dequeue, :value "1094"}
{:index 94, :time 4418083035, :type :invoke, :process 0, :f :enqueue, :value 9381}
{:index 95, :time 4418799305, :type :ok, :process 0, :f :enqueue, :value 9381, :offset 27}
{:index 96, :time 4574940118, :type :invoke, :process 0, :f :enqueue, :value 9818}
{:index 97, :time 4575809466, :type :ok, :process 0, :f :enqueue, :value 9818, :offset 28}
{:index 98, :time 4729321568, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 99, :time 4730021998, :type :ok, :process 1, :f :dequeue, :value "5464"}
{:index 100, :time 4822792743, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 101, :time 4823497293, :type :ok, :process 2, :f :dequeue, :value "5464"}
{:index 102, :time 4901393412, :type :invoke, :process 3, :f :enqueue, :value 5868}
{:index 103, :time 4902124362, :type :ok, :process 3, :f :enqueue, :value 5868, :offset 29}
{:index 104, :time 5026433263, :type :invoke, :process 4, :f :enqueue, :value 496}
{:index 105, :time 5027241712, :type :ok, :process 4, :f :enqueue, :value 496, :offset 30}
{:index 106, :time 5193952563, :type :invoke, :process 0, :f :enqueue, :value 3416}
{:index 107, :time 5194634954, :type :ok, :process 0, :f :enqueue, :value 3416, :offset 31}
{:index 108, :time 5338097190, :type :invoke, :process 0, :f :enqueue, :value 1715}
{:index 109, :time 5338747250, :type :ok, :process 0, :f :enqueue, :value 1715, :offset 32}
{:index 110, :time 5522797972, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 111, :time 5523470613, :type :ok, :process 1, :f :dequeue, :value "8718"}
{:index 112, :time 5616965798, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 113, :time 5617662228, :type :ok, :process 2, :f :dequeue, :value "8718"}
{:index 114, :time 5720246082, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 115, :time 5721052360, :type :ok, :process 3, :f :dequeue, :value "8718"}
{:index 116, :time 5758814127, :type :invoke, :process 4, :f :enqueue, :value 9477}
{:index 117, :time 5759384489, :type :ok, :process 4, :f :enqueue, :value 9477, :offset 33}
{:index 118, :time 5763463650, :type :invoke, :process 0, :f :enqueue, :value 8015}
{:index 119, :time 5763912874, :type :ok, :process 0, :f :enqueue, :value 8015, :offset 34}
{:index 120, :time 5899143998, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 121, :time 5899835308, :type :ok, :process 0, :f :dequeue, :value "3175"}
{:index 122, :time 5953620684, :type :invoke, :process 1, :f :enqueue, :value 8392}
{:index 123, :time 5953997679, :type :ok, :process 1, :f :enqueue, :value 8392, :offset 35}
{:index 124, :time 6110474558, :type :invoke, :process 2, :f :enqueue, :value 1104}
{:index 125, :time 6111227477, :type :ok, :process 2, :f :enqueue, :value 1104, :offset 36}
{:index 126, :time 6177536473, :type :invoke, :process 3, :f :enqueue, :value 6823}
{:index 127, :time 6178198804, :type :ok, :process 3, :f :enqueue, :value 6823, :offset 37}
{:index 128, :time 6358792295, :type :invoke, :process 4, :f :enqueue, :value 5732}
{:index 129, :time 6359387146, :type :ok, :process 4, :f :enqueue, :value 5732, :offset 38}
{:index 130, :time 6481460000, :type :invoke, :process 0, :f :enqueue, :value 50}
{:index 131, :time 6482135640, :type :ok, :process 0, :f :enqueue, :value 50, :offset 39}
{:index 132, :time 6610044000, :type :invoke, :process 0, :f :enqueue, :value 6163}
{:index 133, :time 6610654321, :type :ok, :process 0, :f :enqueue, :value 6163, :offset 40}
{:index 134, :time 6788215506, :type :invoke, :process 1, :f :enqueue, :value 1784}
{:index 135, :time 6788866207, :type :ok, :process 1, :f :enqueue, :value 1784, :offset 41}
{:index 136, :time 6802387372, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 137, :time 6802897995, :type :ok, :process 2, :f :dequeue, :value "1094"}
{:index 138, :time 6961289696, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 139, :time 6962050305, :type :ok, :process 3, :f :dequeue, :value "1094"}
{:index 140, :time 7013678153, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 141, :time 7014229455, :type :ok, :process 4, :f :dequeue, :value "6536"}
{:index 142, :time 7018866218, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 143, :time 7019379031, :type :ok, :process 0, :f :dequeue, :value "3654"}
{:index 144, :time 7156905792, :type :invoke, :process 0, :f :enqueue, :value 8361}
{:index 145, :time 7157488114, :type :ok, :process 0, :f :enqueue, :value 8361, :offset 42}
{:index 146, :time 7294795259, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 147, :time 7295394170, :type :ok, :process 1, :f :dequeue, :value "1094"}
{:index 148, :time 7394670242, :type :invoke, :process 2, :f :enqueue, :value 951}
{:index 149, :time 7395362742, :type :ok, :process 2, :f :enqueue, :value 951, :offset 43}
{:index 150, :time 7549391436, :type :invoke, :process 3, :f :enqueue, :value 4780}
{:index 151, :time 7550091996, :type :ok, :process 3, :f :enqueue, :value 4780, :offset 44}
{:index 152, :time 7677606611, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 153, :time 7678208823, :type :ok, :process 4, :f :dequeue, :value "3992"}
{:index 154, :time 7785242673, :type :invoke, :process 0, :f :enqueue, :value 5837}
{:index 155, :time 7785873264, :type :ok, :process 0, :f :enqueue, :value 5837, :offset 45}
{:index 156, :time 7834913288, :type :invoke, :process 0, :f :enqueue, :value 1726}
{:index 157, :time 7835271553, :type :ok, :process 0, :f :enqueue, :value 1726, :offset 46}
{:index 158, :time 7987519903, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 159, :time 7988123224, :type :ok, :process 1, :f :dequeue, :value "6536"}
{:index 160, :time 8103440355, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 161, :time 8104131225, :type :ok, :process 2, :f :dequeue, :value "6536"}
{:index 162, :time 8165876867, :type :invoke, :process 3, :f :enqueue, :value 125}
{:index 163, :time 8166448478, :type :ok, :process 3, :f :enqueue, :value 125, :offset 47}
{:index 164, :time 8270271695, :type :invoke, :process 4, :f :enqueue, :value 8802}
{:index 165, :time 8270663509, :type :ok, :process 4, :f :enqueue, :value 8802, :offset 48}
{:index 166, :time 8311622890, :type :invoke, :process 0, :f :enqueue, :value 5390}
{:index 167, :time 8312262121, :type :ok, :process 0, :f :enqueue, :value 5390, :offset 49}
{:index 168, :time 8442186201, :type :invoke, :process 0, :f :enqueue, :value 3206}
{:index 169, :time 8442780763, :type :ok, :process 0, :f :enqueue, :value 3206, :offset 50}
{:index 170, :time 8637291625, :type :invoke, :process 1, :f :enqueue, :value 3742}
{:index 171, :time 8638102293, :type :ok, :process 1, :f :enqueue, :value 3742, :offset 51}
{:index 172, :time 8744734089, :type :invoke, :process 2, :f :enqueue, :value 776}
{:index 173, :time 8746107959, :type :ok, :process 2, :f :enqueue, :value 776, :offset 52}
{:index 174, :time 8838218474, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 175, :time 8838910594, :type :ok, :process 3, :f :dequeue, :value "6536"}
{:index 176, :time 8928190619, :type :invoke, :process 4, :f :enqueue, :value 6706}
{:index 177, :time 8928592794, :type :ok, :process 4, :f :enqueue, :value 6706, :offset 53}
{:index 178, :time 9016390491, :type :invoke, :process 0, :f :enqueue, :value 503}
{:index 179, :time 9016929893, :type :ok, :process 0, :f :enqueue, :value 503, :offset 54}
{:index 180, :time 9135319670, :type :invoke, :process 0, :f :enqueue, :value 8382}
{:index 181, :time 9135888401, :type :ok, :process 0, :f :enqueue, :value 8382, :offset 55}
{:index 182, :time 9295213359, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 183, :time 9295863800, :type :ok, :process 1, :f :dequeue, :value "3992"}
{:index 184, :time 9423483414, :type :invoke, :process 2, :f :enqueue, :value 7434}
{:index 185, :time 9424101725, :type :ok, :process 2, :f :enqueue, :value 7434, :offset 56}
{:index 186, :time 9549920455, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 187, :time 9550585845, :type :ok, :process 3, :f :dequeue, :value "3992"}
{:index 188, :time 9736737657, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 189, :time 9737144691, :type :ok, :process 4, :f :dequeue, :value "3175"}
{:index 190, :time 9785586334, :type :invoke, :process 0, :f :enqueue, :value 2448}
{:index 191, :time 9786234475, :type :ok, :process 0, :f :enqueue, :value 2448, :offset 57}
{:index 192, :time 9808726521, :type :invoke, :process 0, :f :enqueue, :value 206}
{:index 193, :time 9809009417, :type :ok, :process 0, :f :enqueue, :value 206, :offset 58}
{:index 194, :time 9999095743, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 195, :time 9999716204, :type :ok, :process 1, :f :dequeue, :value "3175"}
{:index 196, :time 9999902311, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 197, :time 10000357754, :type :ok, :process 3, :f :dequeue, :value "3175"}
{:index 198, :time 10032619610, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 199, :time 10033083823, :type :ok, :process 4, :f :dequeue, :value "3654"}
{:index 200, :time 10185152186, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 201, :time 10185792067, :type :ok, :process 0, :f :dequeue, :value "1794"}
{:index 202, :time 10240428350, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 203, :time 10241032072, :type :ok, :process 0, :f :dequeue, :value "8129"}
{:index 204, :time 10251174676, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 205, :time 10251443932, :type :ok, :process 1, :f :dequeue, :value "3654"}
{:index 206, :time 10449021379, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 207, :time 10449593971, :type :ok, :process 2, :f :dequeue, :value "3992"}
{:index 208, :time 10644806873, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 209, :time 10645484463, :type :ok, :process 3, :f :dequeue, :value "3654"}
{:index 210, :time 10824019935, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 211, :time 10824445148, :type :ok, :process 4, :f :dequeue, :value "1794"}
{:index 212, :time 10849536927, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 213, :time 10850143769, :type :ok, :process 0, :f :dequeue, :value "8225"}
{:index 214, :time 10876813745, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 215, :time 10877234979, :type :ok, :process 0, :f :dequeue, :value "8411"}
{:index 216, :time 10909180739, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 217, :time 10909561444, :type :ok, :process 1, :f :dequeue, :value "1794"}
{:index 218, :time 10962862047, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 219, :time 10963449699, :type :ok, :process 2, :f :dequeue, :value "3175"}
{:index 220, :time 11073017662, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 221, :time 11073678223, :type :ok, :process 3, :f :dequeue, :value "1794"}
{:index 222, :time 11269028002, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 223, :time 11269425517, :type :ok, :process 4, :f :dequeue, :value "8129"}
{:index 224, :time 11377128897, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 225, :time 11377664110, :type :ok, :process 0, :f :dequeue, :value "3041"}
{:index 226, :time 11457892255, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 227, :time 11458431728, :type :ok, :process 0, :f :dequeue, :value "3211"}
{:index 228, :time 11578177195, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 229, :time 11578802986, :type :ok, :process 1, :f :dequeue, :value "8129"}
{:index 230, :time 11639679440, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 231, :time 11640302391, :type :ok, :process 2, :f :dequeue, :value "3654"}
{:index 232, :time 11827338120, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 233, :time 11827905202, :type :ok, :process 3, :f :dequeue, :value "8129"}
{:index 234, :time 11937776832, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 235, :time 11938433912, :type :ok, :process 4, :f :dequeue, :value "8225"}
{:index 236, :time 12056367195, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 237, :time 12056970657, :type :ok, :process 0, :f :dequeue, :value "8045"}
{:index 238, :time 12085726913, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 239, :time 12086238456, :type :ok, :process 0, :f :dequeue, :value "3122"}
{:index 240, :time 12246853775, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 241, :time 12247553395, :type :ok, :process 1, :f :dequeue, :value "8225"}
{:index 242, :time 12363413308, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 243, :time 12364013999, :type :ok, :process 2, :f :dequeue, :value "1794"}
{:index 244, :time 12428227196, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 245, :time 12428766178, :type :ok, :process 3, :f :dequeue, :value "8225"}
{:index 246, :time 12470761584, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 247, :time 12471470514, :type :ok, :process 4, :f :dequeue, :value "8411"}
{:index 248, :time 12514793430, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 249, :time 12515406881, :type :ok, :process 0, :f :dequeue, :value "2700"}
{:index 250, :time 12603352506, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 251, :time 12603966617, :type :ok, :process 0, :f :dequeue, :value "8907"}
{:index 252, :time 12605177570, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 253, :time 12605406717, :type :ok, :process 1, :f :dequeue, :value "8411"}
{:index 254, :time 12771707614, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 255, :time 12772401044, :type :ok, :process 2, :f :dequeue, :value "8129"}
{:index 256, :time 12928605587, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 257, :time 12929276647, :type :ok, :process 3, :f :dequeue, :value "8411"}
{:index 258, :time 13055261715, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 259, :time 13055778207, :type :ok, :process 4, :f :dequeue, :value "3041"}
{:index 260, :time 13062177385, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 261, :time 13062392142, :type :ok, :process 0, :f :dequeue, :value "6094"}
{:index 262, :time 13129032793, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 263, :time 13129551206, :type :ok, :process 0, :f :dequeue, :value "9717"}
{:index 264, :time 13221740010, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 265, :time 13222266822, :type :ok, :process 1, :f :dequeue, :value "3041"}
{:index 266, :time 13386058846, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 267, :time 13386625697, :type :ok, :process 2, :f :dequeue, :value "8225"}
{:index 268, :time 13523118144, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 269, :time 13523710455, :type :ok, :process 3, :f :dequeue, :value "3041"}
{:index 270, :time 13593597000, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 271, :time 13594079923, :type :ok, :process 4, :f :dequeue, :value "3211"}
{:index 272, :time 13618666079, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 273, :time 13619028294, :type :ok, :process 0, :f :dequeue, :value "6139"}
{:index 274, :time 13761380746, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 275, :time 13761893079, :type :ok, :process 0, :f :dequeue, :value "6622"}
{:index 276, :time 13933816385, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 277, :time 13934432316, :type :ok, :process 1, :f :dequeue, :value "3211"}
{:index 278, :time 13997094535, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 279, :time 13997565478, :type :ok, :process 2, :f :dequeue, :value "8411"}
{:index 280, :time 14165731869, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 281, :time 14166331580, :type :ok, :process 3, :f :dequeue, :value "3211"}
{:index 282, :time 14202288033, :type :invoke, :process 4, :f :dequeue, :value nil}
{:index 283, :time 14202722716, :type :ok, :process 4, :f :dequeue, :value "8045"}
{:index 284, :time 14361712779, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 285, :time 14362296451, :type :ok, :process 0, :f :dequeue, :value "229"}
{:index 286, :time 14471876044, :type :invoke, :process 0, :f :dequeue, :value nil}
{:index 287, :time 14472402927, :type :ok, :process 0, :f :dequeue, :value "8259"}
{:index 288, :time 14657194738, :type :invoke, :process 1, :f :dequeue, :value nil}
{:index 289, :time 14657724581, :type :ok, :process 1, :f :dequeue, :value "8045"}
{:index 290, :time 14726712928, :type :invoke, :process 2, :f :dequeue, :value nil}
{:index 291, :time 14727326159, :type :ok, :process 2, :f :dequeue, :value "3041"}
{:index 292, :time 14893189313, :type :invoke, :process 3, :f :dequeue, :value nil}
{:index 293, :time 14893706816, :type :ok, :process 3, :f :dequeue, :value "8045"}
